@import "@scss/_variables.scss";

.propertyReview {
  &_container {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
    border-radius: $radius;
    padding: 4px;
  }

  &_owner {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
  }

  &_content {
    font-size: 1.4rem;
    color: $secondary-color;
    text-align: justify;
  }
}
