$primary-color: rgba(255, 115, 29, 1);

$black-color: rgba(0, 0, 0, 1);
$white-color: rgba(255, 255, 255, 1);
$grey-color: rgba(59, 65, 68, 1);
$dark-grey-color: #484848;

$bg-color: linear-gradient(180deg, #ffe6b9 12.06%, #fffbf3 67.57%, #fff 72.83%);
