@import "@scss/variables.scss";

.container {
  position: relative;
  margin-right: 16px;
  border: 1px solid $light-grey-color;
  border-radius: 5px;

  &Active {
    border-color: $black-color;
  }
}

.select {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 4px 12px;
  cursor: pointer;

  &Name {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $dark-grey-color;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &Value {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #2c2c2c;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &Icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: $dark-grey-color;
    cursor: pointer;
  }
}
