@import "@scss/_mixins.scss";
@import "@scss/_variables.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 60px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  box-shadow: rgba(182, 182, 182, 0.18) 0px 4px 10px 0px;

  &_logo {
    color: $primary-color;
    text-decoration: none;
  }

  &_btnGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  &_navbar {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 6px;
    padding: 0 32px;

    &-item {
      font-size: 1.25rem;
      padding: 8px 16px;

      color: $foreground-color;
      text-decoration: none;
      cursor: pointer;

      &:hover,
      &--active {
        font-weight: 500;
      }
    }
  }

  &_link {
    font-size: 1.125rem;
    padding: 8px 16px;
    border-radius: $radius;
    color: $black-color;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 8px;

    &:hover {
      background-color: $light-grey-color;
    }

    &--primary {
      color: $primary-foreground-color;
      background-color: $primary-color;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    &--border {
      border: 1px solid $dark-grey-color;
    }
  }

  &_profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0 4px 6px;
    cursor: pointer;
    border: 1px solid #d3d3d3;
    border-radius: 8px;

    &-avatar {
      width: 34px;
      height: 34px;
      font-size: 1rem;
      font-weight: 600;
      color: $foreground-color;
      border-radius: 50%;
      object-fit: cover;
      background-color: $black-color;
      margin-right: 8px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-dropdown {
      display: flex;
      flex-direction: column;
      top: 40px;
      right: -2px;
      min-width: 200px;
      position: absolute;
      background-color: $foreground-color;
      box-shadow: 0px 8px 20px rgba(182, 182, 182, 0.3);
      border: 1px solid $light-grey-color;
      border-radius: 8px;
      padding: 8px 0;
      transition: all 0.3s ease-in-out;

      &-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;

        font-size: 0.9375rem;
        padding: 8px;

        &:hover {
          background-color: $light-grey-color;
        }
      }
    }
  }
}
