@import "@/styles/variables.scss";

.header {
  position: sticky;
  top: 0;
  height: 80px;
  background: $white-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 64px;

  &Left,
  &Right {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &Right {
    gap: 12px;
  }

  &ModeGroup {
    display: flex;
    gap: 12px;

    button {
      width: 112px;
    }
  }

  a {
    color: $black-color;
    text-decoration: none;
  }
}
