@import "@scss/variables.scss";

.header {
  position: sticky;
  top: 0;
  height: 60px;
  background: $white-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 32px;

  box-shadow: rgba(182, 182, 182, 0.18) 0px 4px 10px 0px;

  &ModeGroup {
    display: flex;
    gap: 12px;

    button {
      width: 112px;
    }
  }

  a {
    color: $black-color;
    text-decoration: none;
  }
}

.profile {
  &Container {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 12px;
    cursor: pointer;
    background-color: $white-color;

    border: 1px solid $light-grey-color;
    border-radius: 50px;
  }

  &Menu {
    font-size: 34px;
  }

  &Avatar {
    width: 34px;
    height: 34px;
    font-size: 1.6rem;
    font-weight: 600;
    color: $white-color;
    border-radius: 50%;
    object-fit: cover;
    background-color: $black-color;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
