@mixin button-mixin($variant: default, $color) {
  @if $variant == default {
    background-color: $color;
    color: #fff;
  } @else if $variant == outlined {
    background-color: transparent;
    border: 1px solid $color;
    color: $color;
  } @else if $variant == text {
    background-color: transparent;
    color: $color;
  }

  &:hover {
    @if $variant == default {
      background-color: darken($color, 10%);
    } @else if $variant == outlined {
      background-color: $color;
      color: #fff;
    } @else if $variant == text {
      background-color: $color;
      color: #fff;
    }
  }
}

@mixin line-truncate($max-lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $max-lines;
  -webkit-box-orient: vertical;
}
