@mixin fontConfig($size, $weight, $lineHeight) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

h1 {
  @include fontConfig(4.8rem, 800, 1);
}

h2 {
  @include fontConfig(3rem, 600, 3.6rem);
}

h3 {
  @include fontConfig(2.4rem, 600, 3.2rem);
}

h4 {
  @include fontConfig(2rem, 600, 2.8rem);
}

p {
  @include fontConfig(1.6rem, 400, 2.8rem);
}

input {
  @include fontConfig(1.4rem, 500, 2rem);
}
