@import "./_variables";

.home {
  &_container {
    display: flex;

    width: 100%;
    min-height: calc(100vh - 80px);

    margin: 0 auto;
    padding: 0 32px;
    background: $bg-gradient-color;
  }

  &_hero {
    flex: 1.1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;

    padding-right: 12px;
  }

  &_title {
    font-size: 3.125rem;
    line-height: 1.2;
  }

  &_subtitle {
    color: $muted-foreground-color;
  }

  &_search {
    width: 80%;
    height: 60px;
    display: flex;

    &-input {
      width: 85%;
      padding: 0px 16px;
      background: $background-color;
      font-size: 1rem;

      border: 1px solid $border-color;
      border-radius: $radius 0 0 $radius;
      outline: none;
      caret-color: $black-color;

      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.15s;

      &:focus {
        border: 2px solid $ring-color;
      }
    }

    &Btn {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 0 $radius $radius 0;
      color: $primary-foreground-color;
      background-color: $primary-color;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  &_banner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    &Image {
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }
  }

  &_highlight {
    color: $primary-color;
  }

  // responsive
  @media (max-width: 426px) {
    &_container {
      flex-direction: column;
      align-items: center;
    }

    &_banner {
      display: none;
    }

    &_hero {
      padding-right: 0;
    }

    &_search {
      width: 100%;
    }
  }
}
