@import "./variables";

.listings {
  &_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 64px auto;
    grid-template-columns: 7fr 3fr;
    row-gap: 16px;
    column-gap: 32px;
  }

  &_main {
    grid-row: 2;
    grid-column: 1 / 2;
  }

  &_sidebar {
    grid-row: 2;
    grid-column: 2 / 3;
  }
}
