@import "@scss/_variables.scss";
@import "@scss/_mixins.scss";

.propertyType {
  &_dropdown {
    @include dropdown();

    max-height: 220px;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    padding-bottom: 12px;

    @include custom-scrollbar();
  }

  &_option {
    width: 100%;
    min-width: 250px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
      color: $secondary-foreground-color;
    }

    &--highlight {
      font-weight: 600;
      color: $primary-color;
    }
  }
}
